In [24]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA

In [15]:
cars_data = pd.read_csv("cars_data_cleaned.csv")

In [16]:
cars_data.head()

,manufacturer,mileage,transmission,drivetrain,fuel_type,mpg,exterior_color,interior_color,accidents_or_damage,one_owner,personal_use_only,seller_name,seller_rating,driver_rating,driver_reviews_num,price,car_age
0,Acura,92945.0,automatic,FWD,gasoline,38.5,black,other,0.0,0.0,0.0,Others,4.0,4.0,12.0,13988.0,11
1,Acura,47645.0,automatic cvt,FWD,hybrid,38.5,gray,ebony,1.0,1.0,1.0,Others,4.0,4.0,12.0,17995.0,11
2,Acura,53422.0,automatic cvt,FWD,hybrid,38.5,other,ebony,0.0,1.0,1.0,Others,4.0,4.0,12.0,17000.0,11
3,Acura,117598.0,automatic cvt,FWD,hybrid,38.5,other,other,0.0,1.0,1.0,Others,4.0,4.0,12.0,14958.0,11
4,Acura,114865.0,automatic cvt,FWD,hybrid,38.5,other,ebony,1.0,0.0,1.0,Others,3.0,4.0,12.0,14498.0,11

In [17]:
cars_data = pd.get_dummies(cars_data, drop_first=True)

In [18]:
cars_data.shape

(690370, 80)

In [19]:
cars_data.head()

,mileage,mpg,accidents_or_damage,one_owner,personal_use_only,seller_rating,driver_rating,driver_reviews_num,price,car_age,...,interior_color_gray,interior_color_jet black,interior_color_other,seller_name_Adams North Charlotte,seller_name_Auto Boutique,seller_name_Automotive Avenues,seller_name_East Coast Auto Source,seller_name_Gateway Classic Cars,seller_name_Others,seller_name_Pacific Auto Center - Fontana
0,92945.0,38.5,0.0,0.0,0.0,4.0,4.0,12.0,13988.0,11,...,False,False,True,False,False,False,False,False,True,False
1,47645.0,38.5,1.0,1.0,1.0,4.0,4.0,12.0,17995.0,11,...,False,False,False,False,False,False,False,False,True,False
2,53422.0,38.5,0.0,1.0,1.0,4.0,4.0,12.0,17000.0,11,...,False,False,False,False,False,False,False,False,True,False
3,117598.0,38.5,0.0,1.0,1.0,4.0,4.0,12.0,14958.0,11,...,False,False,True,False,False,False,False,False,True,False
4,114865.0,38.5,1.0,0.0,1.0,3.0,4.0,12.0,14498.0,11,...,False,False,False,False,False,False,False,False,True,False

In [20]:
X = cars_data.drop("price", axis=1)
y = cars_data["price"]

In [21]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [33]:
pca = PCA(n_components=0.95, random_state=42)
X_pca = pca.fit_transform(X_scaled)

In [34]:
print("Original shape:", X.shape)
print("Transformed shape:", X_pca.shape)
print("Number of components selected:", pca.n_components_)
print("Total variance explained:", sum(pca.explained_variance_ratio_))

Original shape: (690370, 79)
Transformed shape: (690370, 63)
Number of components selected: 63
Total variance explained: 0.9514796378370519

In [36]:
pd.DataFrame(X_pca).to_csv("preprocessed_cars.csv", index=False)
y.to_csv("target_price.csv", index=False)